.ActiveButton {
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 5px;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ActiveButton:hover {
  background-color: #c69eff;
}

.ActiveButton:disabled {
  background-color: #b0b0b0;
  cursor: default;
  color: white;
}

.savebttnContainer {
  width: auto;
  height: auto;
  max-width: 400px;
  margin-top: 2rem;
  padding: 0.5rem;
  background-color: #b0b0b0;
  pointer-events: auto;
}

.savebttnContainer.active {
  background-color: #b077ff;
}

.savebttnContainer.active:hover {
  background-color: #c69eff;
}

@media (min-width: 300px) and (max-width: 1000px) {
  .ActiveButton {
    font-size: 1.5rem;
  }
}