.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
/* HTML: <div class="loader"></div> */
.loader {
height: 70px;
aspect-ratio: 1;
border: 3px solid #B077FF;
animation: l4 2s infinite;
}
@keyframes l4 {
0%  {aspect-ratio:1;border-radius:50px}
25% {aspect-ratio:2;border-radius:50px} 
50% {aspect-ratio:2;border-radius:0}  
75% {aspect-ratio:1;border-radius:0} 
100%{aspect-ratio:1;border-radius:50px}
}