.mainConatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 50vw;
  padding: 1rem;
  margin: auto;
}

.mainConatiner input {
  margin-bottom: 2rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.displayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editAccountHeader {
  align-items: center;
  margin: 0 0 3rem 0;
}

.backButtonImage {
  width: 50px;
  margin: 20px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
}

.backButtonImage:hover {
  transform: scale(1.1);
}

@media (min-width: 300px) and (max-width: 375px) {
  .mainConatiner {
    width: 100%;
  }

  .formContainer button {
    font-size: 0.8rem;
  }

  .displayContainer {
    width: 100%;
  }

  .editAccountHeader {
    font-size: 1.4rem;
  }

  .backButtonImage {
    width: 40px;
    margin: 10px;
  }
}

@media (min-width: 380px) and (max-width: 1000px) {
  .mainConatiner {
    width: auto;
  }

  .formContainer button {
    font-size: 1rem;
  }

  .displayContainer {
    width: 100%;
  }

  .editAccountHeader {
    font-size: 1.5rem;
  }

  .backButtonImage {
    width: 40px;
    margin: 10px;
  }
}
