.InputField {
  width: 100%;
  padding: 1rem;
  padding-right: 40px;
  border-radius: 5px;
  border: 2px solid #a19494;
  font-size: 1rem;
}

.inputFieldDark {
  background-color: #2C2C2C;
  color: #fff;
}

.inputFieldLight {
  background-color: #ffffff;
  color: #2C2C2C;
}

.TextBoxLabel {
  margin-bottom: 0.2rem;
}

.InputField:focus {
  border-color: #b077ff;
  outline: none;
}

/*Contains input container and error msg*/
.inputWrapper {
  min-width: 100%;
  margin-bottom: 2rem;
}

/*Contains label, input, and eye button*/
.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

.inputWithIcon {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.toggleVisibilityButton {
  position: absolute;
  right: 2px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding: 0 8px;
}

.Err {
  color: #e74c3c;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-top: 2px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.Err.shake {
  animation: shake 0.2s ease;
}
