.InputField {
  padding: 1rem 0;
  padding-left: 15px;
  border-radius: 5px;
  border: 2px solid #a19494;
  font-size: 1rem;
}

.TextBoxLabel {
  margin-bottom: 0.2rem;
}

.InputField:focus {
  border-color: #b077ff;
  outline: none;
}

/*Contains input container and error msg*/
.inputWrapper {
  min-width: 100%;
  margin-bottom: 2rem;
}

/*Contains label, input, and eye button*/
.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.toggleVisibilityButton {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: 89%;
  margin-top: 9%;
}

.Err {
  color: #e74c3c;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-top: 2px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.Err.shake {
  animation: shake 0.2s ease;
}

@media (max-width: 600px) {
  .toggleVisibilityButton {
    margin-left: 87%;
    margin-top: 10%;
  }
}

@media (max-width: 400px) {
  .toggleVisibilityButton {
    margin-left: 86%;
    margin-top: 12%;
  }
}