.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginPageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
}

.span {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.welcomeBack {
  margin: 3rem;
  font-size: 3rem;
  text-align: center;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.btnContainer button {
  width: 25rem;
  height: 4rem;
  margin-bottom: 0;
}

@media (min-width: 300px) and (max-width: 380px) {
  .welcomeBack {
    font-size: 2.5rem;
  }

  .span {
    font-size: 1.3rem;
    margin: 0.25rem 0;
  }
}

/* for smaller screens in general give buttons a fixed width*/
@media (max-width: 600px) {
  .btnContainer button {
    width: 80vw;
  }
}