.loginPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.EmailContainer {
  align-items: center;
  margin-bottom: 2rem;
}
.PasswordContainer {
  align-items: center;
  margin-bottom: 4rem;
}
.label {
  margin-bottom: 0.1rem;
  display: flex;
}
.span {
  margin-top: 20px;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.welcomeBack {
  margin: 3rem;
  font-size: 3rem;
  margin-bottom: 3rem;
}
.lgnbttncontainer,
.signbttncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

@media (min-width: 300px) and (max-width: 380px) {
  .loginPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .welcomeBack {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
  }
  .EmailContainer {
    align-items: center;
  }
  .PasswordContainer {
    margin-bottom: 2rem;
  }

  .lgnbttncontainer,
  .signbttncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .loginPageContainer {
    height: 100%;
    width: 100%;
  }
  .welcomeBackcontainer {
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 150px;
  }
  .EmailContainer {
    width: 324px;
    height: 48px;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
  .PasswordContainer {
    width: 324px;
    height: 48px;
    margin-bottom: 150px;
  }
}
