.mainpageContainer {
  background: #1b1228;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.welcomecontainer {
  font-size: 50px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 100px;
}

.headerconatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}

.lgnbttncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 324px;
  height: 48px;
  padding: 1px;
  gap: 10px;
  opacity: 1;
  border: none;
}

.loginbtton {
  background: #b077ff;
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.signbttncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 324px;
  height: 48px;
  padding: 1px;
  gap: 10px;
  opacity: 1;
  border: none;
}

.signupbtton {
  text-align: center;
  border-radius: 5px;
  border: 2px solid #b077ff;
  cursor: pointer;
}

/* Mobile */

/* Tablet and Smaller Desktop */
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
