.mainpageContainer {
  background: #1b1228;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.welcomecontainer {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 100px;
}

.headerconatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.lgnbttncontainer,
.signbttncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

/* Mobile */

/* Tablet and Smaller Desktop */
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
@media (min-width: 300px) and (max-width: 420px) {
  .welcomecontainer {
    margin: 3rem, 1rem, 5rem, 1rem;
  }

  .headerconatiner,
  .lgnbttncontainer,
  .signbttncontainer {
    margin-top: 3rem;
  }
}
