.signUpBtn {
  padding: 14px 135px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #b077ff;
  cursor: pointer;
  background: #0c0811;
  transition: background-color 0.3s ease;
}
.signUpBtn:hover {
  background-color: #1a1a1a;
}
