.inactiveBtn {
  padding: 1rem 2rem;
  border: 1px solid #b077ff;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 1rem;
  background: #0c0811;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.inactiveBtn:hover {
  background-color: #1a1a1a;
}

@media (min-width: 300px) and (max-width: 1000px) {
  .inactiveBtn {
    font-size: 1.5rem;
  }
}
